## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key


# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
clean_hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Caravelas,BR,73.71,clear sky,-17.71,-39.25,Pousada dos Navegantes
1,3,Rikitea,PF,72.07,overcast clouds,-23.12,-134.97,Pension Maro'i
2,5,Bintulu,MY,80.60,few clouds,3.17,113.03,900 Boutique INN
3,8,Lagoa,PT,69.33,clear sky,39.05,-27.98,Casa Das Faias
4,10,Kapaa,US,86.00,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(25.0, 101.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

In [6]:
vacation_df = clean_hotel_df.loc[(clean_hotel_df["Country"] == "US")]
vacation_df.head(5)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,10,Kapaa,US,86.0,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
6,13,Hilo,US,86.0,few clouds,19.73,-155.09,Hilo Hawaiian Hotel
8,19,Lompoc,US,73.4,clear sky,34.64,-120.46,Holiday Inn Express Lompoc
28,63,Ewa Beach,US,86.0,clear sky,21.32,-158.01,Hampton Inn & Suites Oahu/Kapolei
41,94,Kahului,US,87.8,scattered clouds,20.89,-156.47,Maui Seaside Hotel

In [7]:
vacation_start = vacation_df.loc[(vacation_df["City"] == "Half Moon Bay")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Altamont")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Emmett")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Riverton")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Half Moon Bay")]

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(42, -122.3), zoom_level=5)
marker_itinerary = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0], stop2[0], stop3[0]], travel_mode='DRIVING')
fig.add_layer(marker_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,327,Half Moon Bay,US,84.99,clear sky,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
1,401,Altamont,US,78.80,haze,42.21,-121.74,Microtel Inn & Suites by Wyndham Klamath Falls
2,638,Emmett,US,75.20,clear sky,43.87,-116.50,Holiday Motel & R.V Park
3,478,Riverton,US,71.01,clear sky,40.52,-111.94,Ramada by Wyndham Draper
4,327,Half Moon Bay,US,84.99,clear sky,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(42, -122.3), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))