## Deliverable 3. Create a Travel Itinerary Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key


# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
clean_hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Changde,CN,71.06,overcast clouds,29.05,111.68,Kangshida Hotel
1,5,Arraial Do Cabo,BR,74.46,clear sky,-22.97,-42.03,Pousada Porto Praia
2,6,Carnarvon,AU,68.00,broken clouds,-24.87,113.63,Hospitality Carnarvon
3,9,Kapaa,US,86.00,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,11,Bengkulu,ID,77.00,overcast clouds,-3.80,102.27,Grage Hotel Bengkulu

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(25.0, 101.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

In [24]:
vacation_df = clean_hotel_df.loc[(clean_hotel_df["Country"] == "US")]
vacation_df.head(5)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,9,Kapaa,US,86.0,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
15,30,Hilo,US,82.4,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
16,35,Wyndham,US,66.0,few clouds,37.70,-77.61,Hilton Richmond Hotel & Spa/Short Pump
18,42,Fairbanks,US,66.2,haze,64.84,-147.72,Westmark Fairbanks Hotel & Conference Center
22,57,Alexander City,US,68.0,clear sky,32.94,-85.95,Hampton Inn Alexander City

In [25]:
vacation_start = vacation_df.loc[(vacation_df["City"] == "Portland")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Mattawa")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Mountain Home")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Fortuna")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Portland")]

In [26]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

In [27]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(42, -122.3), zoom_level=5)
marker_itinerary = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0], stop2[0], stop3[0]], travel_mode='DRIVING')
fig.add_layer(marker_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,112,Portland,US,78.01,smoke,45.52,-122.68,Portland Marriott City Center
1,475,Mattawa,US,78.80,clear sky,46.74,-119.90,Sun & Sand Mobile Home Park
2,238,Mountain Home,US,82.40,clear sky,43.13,-115.69,Mountain Home Inn
3,106,Fortuna,US,63.00,clear sky,40.60,-124.16,Super 8 by Wyndham Fortuna
4,112,Portland,US,78.01,smoke,45.52,-122.68,Portland Marriott City Center

In [29]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(42, -122.3), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))